---
---

@import 'normalize';

/* setup */

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, segoe ui, sans-serif;
  line-height: 1.6;
  color: #111;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*:focus {
  outline: 0;
}

/* helpers */

.group:after {
  content: "";
  display: table;
  clear: both;
}

/* elements */

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* buttons */

/* forms */

/* tables */

/* layout */

.wrapper {}

/* header */

/* content */

/* footer */