---
---

@import 'normalize';

/* setup */

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: 'Cormorant Garamond', "Helvetica Neue", Helvetica, arial, sans-serif;
  line-height: 1.6;
  font-size: 16px;
  color: #111;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #ede8ba;
}

*:focus {
  outline: 0;
}

/* helpers */

.group:after {
  content: "";
  display: table;
  clear: both;
}

/* elements */

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* buttons */

/* forms */

/* tables */

/* layout */

.wrapper {}

/* header */
header {
}

header img {
	margin: 0 auto;
	display: block;
	margin-top: 15px;
}

/* content */

.contact {
	align: center;
	text-align:center;
  padding-bottom: 30px;
}

.email {
	background: url(../img/text-border.png) no-repeat center;
	background-size: 50%;
	width: 100%;
	height: 300px;
	font-size: 40;
	line-height: 6.5;
}
/* footer */
footer {
    background: url(../img/temple.png) no-repeat center bottom;
		background-size: 30%;
    width: 100%;
    height: 300px;
    border-bottom: 20px solid #000;
    
}